#entry{
	height: 500px;
	width: 500px;
}
body {
    font-family: Caviar;
	height: auto;
	width: auto;
}
.selected.active{
    background-color: #ff0000;
    color: #ffffff;
}
.editor-text{
	height:100%;
	width:100%;
	padding:0px;
	margin:0px;
	border:0px;
    background-color: #ff0000;
    color: #ffffff;
}
.selected{
    background-color: #ffd9d9;
    color: #000000;
}
