a{
    text-decoration:  none;
    font-family:      Caviar;
	color:            #f00;
    background-color: #fff;
    width:            200px;
    margin:           8px;
    text-align:       center;
    display:          inline-block;
}

a:hover{
	color:            #fff;
    background-color: #f00;
}

div.menu{
    width:      100%;
    text-align: center;
}
